@import "../scss-rtl/variables";

@charset "UTF-8";
.app-sidebar .mCSB_draggerContainer {
	left: -11px !important;
}
@media (min-width: 768px) {
	.app.sidenav-toggled {
		.app-content {
			margin-right: 0;
		}
		.app-sidebar {
			right: 230px;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
	}
	.app-sidebar {
		padding-top: 85px;
	}
	.side-header {
		width: 250px;
		left: 0;
		right: 0;
		top: 0;
		position: fixed;
		z-index: 1;
		background: #fff;
	}
	.app.sidebar-mini.sidenav-toggled .side-header {
		width: 100px !important;
	}
}
@media (max-width: 767px) {
	.app {
		overflow-x: hidden;
		.app-sidebar {
			right: -250px;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
		&.sidenav-toggled {
			.app-content {
				margin-right: 0;
			}
			.app-sidebar {
				right: 0;
			}
			.app-sidebar__overlay {
				visibility: visible;
			}
		}
		&.sidebar-mini.sidebar-gone.sidenav-toggled .app-sidebar {
			right: 0;
		}
	}
}
.app-content {
	min-height: calc(100vh - 50px);
	margin-bottom: 0 !important;
	-webkit-transition: margin-left 0.3s ease;
	-o-transition: margin-left 0.3s ease;
	transition: margin-left 0.3s ease;
	overflow: hidden;
	.side-app {
		padding: 0px 30px 0 30px;
	}
}
.footer .container {
	width: 100%;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.app-content {
		margin-right: 250px;
	}
}
@media (max-width: 767px) {
	.app-content {
		min-width: 100%;
	}
}
@media (max-width: 480px) {}
@media print {
	.app-content {
		margin: 0;
		padding: 0;
		background-color: #fff;
	}
}
.light-text {
	font-weight: 300 !important;
}
.semibold-text {
	font-weight: 600 !important;
}
.line-head {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
/*----- Componant: Top Navigation Bar ----- */

.app-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 999;
	padding-left: 15px;
	padding: 5px 0;
	box-shadow: 0 2px 17px 2px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background: #5e2dd8;
}
@media (min-width: 768px) {
	.app-header {
		padding-left: 30px;
	}
}
@media print {
	.app-header {
		display: none;
	}
}
.app-header__logo {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	color: #fff;
	text-align: center;
	font-family: 'Niconne';
	padding: 0 15px;
	font-size: 26px;
	font-weight: 400;
	line-height: 50px;
	&:focus, &:hover {
		text-decoration: none;
	}
}
@media (min-width: 768px) {
	.app-header__logo {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		display: block;
		width: 230px;
	}
}
.app-sidebar__toggle {
	color: #25252a;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	z-index: 1;
	margin-top: 5px;
	&:hover {
		color: #25252a;
	}
	&:before {
		content: "\e907";
		transition: all .25s;
		font-size: 21px;
		font-family: 'feather';
	}
	&:focus, &:hover {
		text-decoration: none;
	}
}
/*@media (max-width: 360px) {
	.app-sidebar__toggle {
		line-height: 2;
	}
}*/

@media (max-width: 767px) {
	.app-sidebar__toggle {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
}
.app-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
@media (min-width: 768px) {
	.app-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}
.app-nav__item {
	display: block;
	padding: 15px;
	line-height: 20px;
	color: #a8a8a8;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:hover, &:focus {
		background: rgba(0, 0, 0, 0.1);
		color: #f6f6f6;
	}
}
.app-search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: 15px;
	padding: 10px 0;
}
@media (max-width: 480px) {
	.app-search {
		display: none;
	}
}
.app-search__input {
	border: 0;
	padding: 5px 10px;
	padding-left: 30px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
		color: rgba(0, 0, 0, 0.4);
	}
}
.app-search__button {
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	padding: 0 10px;
	border: 0;
	color: rgba(0, 0, 0, 0.8);
	background: none;
	cursor: pointer;
}
.app-notification {
	min-width: 270px;
}
.app-notification__title {
	padding: 8px 20px;
	text-align: center;
	background-color: rgba(0, 150, 136, 0.4);
	color: #333;
}
.app-notification__footer {
	padding: 8px 20px;
	text-align: center;
	background-color: #eee;
}
.app-notification__content {
	max-height: 220px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
	}
}
.app-notification__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 20px;
	color: inherit;
	border-bottom: 1px solid #ddd;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:focus, &:hover {
		color: inherit;
		text-decoration: none;
		background-color: #e0e0e0;
	}
}
.app-notification__message, .app-notification__meta {
	margin-bottom: 0;
}
.app-notification__icon {
	padding-left: 10px;
}
.app-notification__message {
	line-height: 1.2;
}
.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	color: #8a98ac;
	width: 250px;
	max-height: 100%;
	z-index: 1000;
	background: #fff !important;
	-webkit-box-shadow: 0 8px 24px #e5e4e6;
	box-shadow: 0 8px 24px #e5e4e6;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
	}
}
@media print {
	.app-sidebar {
		display: none;
	}
}
@media (max-width: 767px) {
	.app-sidebar__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
}
.app-sidebar__user {
	.dropdown-menu {
		top: 10px !important;
	}
	img {
		box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
		padding: 2px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
	}
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #a8a8a8;
	width: 100%;
	padding: 15px 0 15px;
	display: inline-block;
}
.app-sidebar__user-avatar {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-right: 15px;
}
.app-sidebar__user-name {
	&.text-sm {
		font-size: 12px;
		font-weight: 400;
	}
	font-size: 17px;
	line-height: 1.3;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
	overflow: hidden;
	font-weight: 600;
	color: #e5e9ec;
	font-size: 15px;
	margin-top: 5px !important;
}
.app-sidebar__user-designation {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
	overflow: hidden;
	font-weight: 600;
	color: #e5e9ec;
	font-size: 15px;
	margin-top: 5px !important;
}
.side-menu {
	margin-bottom: 0;
	padding: 0 15px 40px 15px;
}
.side-menu__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px 0;
	font-size: 14px;
	font-weight: 400;
	-webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	-o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	transition: border-left-color 0.3s ease, background-color 0.3s ease;
	color: #25252a;
	&.active, &:hover, &:focus {
		text-decoration: none;
		color: #5e2dd8;
	}
	&.active .side-menu__icon, &:hover .side-menu__icon, &:focus .side-menu__icon {
		color: #5e2dd8;
	}
}
@media (min-width: 768px) {
	.app.sidebar-mini.sidenav-toggled .side-menu__label {
		display: none !important;
		position: relative;
		padding: 0;
		min-width: 100%;
		margin: 0;
		right: 0;
		color: rgba(255, 255, 255, 0.8);
		opacity: 1;
		background: transparent;
		font-size: 12px;
		box-shadow: none;
	}
}
.slide-item {
	&.active, &:hover, &:focus {
		text-decoration: none;
		color: #b5c1d2;
	}
}
.slide-menu a.active {
	color: #76839a;
}
.slide-item {
	&.active, &:hover, &:focus {
		text-decoration: none;
		color: #76839a;
	}
}
.slide-menu li {
	&.active {
		&:before {
			content: '';
			position: absolute;
			width: 15px;
			height: 2px;
			background: #eaedf1;
			right: -20px;
			top: 15px;
			display: block;
		}
		&:after {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			right: -10px;
			top: 12px;
			display: block;
			border-radius: 50%;
			background: #dde1e6;
		}
	}
	position: relative;
}
.slide.is-expanded a {
	/*color: #fcfeff;*/
	text-decoration: none;
}
.side-menu .side-menu__icon {
	color: #68798b;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	width: 30px !important;
	border-radius: 50%;
	margin-left: 8px;
	margin-right: 8px;
}
.side-menu__icon {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 25px;
}
.side-menu__label {
	white-space: nowrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.slide.is-expanded {
	.slide-menu {
	    display: block;
	}
	.angle {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.slide-menu {
    display:none;
	padding: 0;
	font-size: .8rem !important;
	padding-right: 20px;
	margin-right: 12px;
	border-right: 1px solid #eaedf1;
}
.slide-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px 7px;
	font-size: 13px;
	color: #25252a;
	.icon {
		margin-left: 5px;
	}
}
.angle {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (min-width: 768px) {
	.sidebar-mini.sidenav-toggled {
		.app-sidebar__user-name, .app-sidebar__user-designation, .angle, .app-sidebar__user-name, .user-notification, .app-sidebar__user-name, .user-info {
			display: none;
		}
		.sidebar-mini.sidenav-toggled.user-notification::before {
			background: transparent;
			display: none;
		}
		.app-sidebar__user-name, .avatar-xl {
			width: 3rem;
			height: 3rem;
			line-height: 3rem;
			font-size: 1rem;
			margin-bottom: 0px !important;
		}
		.app-sidebar__user, .pulse {
			top: .5rem;
			left: 30px !important;
		}
		.app-sidebar__user, .side-menu {
			margin-top: 0px;
		}
		.app-sidebar__user-avatar {
			width: 25px;
			height: 25px;
		}
		.side-menu li .side-menu__item.active:before {
			display: none;
		}
		.app-sidebar__user {
			padding: 12px 0px 12px 0;
			margin-bottom: 0px;
			border-bottom: 1px solid rgba(225, 225, 225, 0.05);
		}
		.profile-img {
			top: 0px;
			left: 19px;
		}
		.app-content {
			margin-right: 100px;
		}
		.app-sidebar {
			right: 0;
			width: 100px;
			overflow: hidden;
			&:hover {
				overflow: visible;
			}
		}
		.side-menu__item {
			overflow: hidden;
			&:hover {
				overflow: visible;
				.side-menu__label {
					opacity: 1;
				}
				+.slide-menu {
					visibility: visible;
				}
			}
		}
		.side-menu__label {
			display: block;
			position: absolute;
			top: 0;
			right: 50px;
			min-width: 180px;
			padding: 12px 5px 12px 20px;
			margin-right: -3px;
			line-height: 1;
			opacity: 0;
			background: #ffffff;
			color: #a8a8a8;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			-webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
		}
		.slide {
			&:hover {
				.side-menu__label {
					opacity: 1;
				}
				.slide-menu {
					max-height: 100%;
					opacity: 1;
					visibility: visible;
					z-index: 10;
				}
			}
			.side-menu__label {
				border-bottom-right-radius: 0;
			}
		}
		.slide-menu {
			position: absolute;
			right: 90px;
			min-width: 180px;
			opacity: 0;
			border-bottom-right-radius: 4px;
			z-index: 9;
			visibility: hidden;
			-webkit-transition: visibility 0.3s ease;
			-o-transition: visibility 0.3s ease;
			transition: visibility 0.3s ease;
			-webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
		}
	}
	.app.sidebar-mini.sidenav-toggled {
		.side-menu__item {
			display: block;
			padding: 10px 0;
			margin: 0 auto;
			text-align: center;
			border-right: 0;
		}
		.side-menu_label {
			display: block;
			font-size: 12px;
		}
		.side-menu__label {
			display: block;
			position: relative;
			padding: 0;
			min-width: 100%;
			margin: 0;
			right: 0;
			color: #5c6287;
			opacity: 1;
			background: transparent;
			font-size: 12px;
			box-shadow: none;
		}
	}
	.sidebar-mini.sidenav-toggled .app-sidebar__user .avatar-md {
		margin: 0 auto;
	}
	.app.sidebar-mini.sidenav-toggled .nav-badge {
		position: absolute;
		top: 8px;
		left: 28px;
		padding: 0.2rem 0.4rem;
		font-size: 11px;
	}
}
.app.sidebar-mini {
	&.sidenav-toggled .side-menu .side-menu__icon {
		margin-right: 0;
		margin-left: 0;
	}
	.side-menu_label {
		display: none;
	}
}
.dropdown-menu {
	border-radius: 0;
	&.dropdown-menu-right {
		left: auto;
	}
}
.dropdown-item {
	.fa, .icon {
		vertical-align: middle;
	}
}
.app-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #FFF;
	margin: -30px -30px 30px;
	padding: 20px 30px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
	}
	p {
		margin-bottom: 0;
		font-style: italic;
	}
}
@media print {
	.app-title {
		display: none;
	}
}
@media (max-width: 480px) {
	.app-title {
		margin: -15px -15px 15px;
		padding: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}
@media (max-width: 480px) {
	.app-title p {
		display: none;
	}
}
.app-breadcrumb {
	margin-bottom: 0;
	text-align: right;
	font-weight: 500;
	font-size: 13px;
	text-transform: capitalize;
	padding: 0;
	text-align: right;
	padding: 0;
	background-color: transparent;
}
@media (max-width: 480px) {
	.app-breadcrumb {
		margin-top: 10px;
	}
}
.tile {
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media print {
	.tile {
		border: 1px solid #ddd;
	}
}
.sidenav-toggled .app-sidebar__user .avatar-md {
	line-height: 2rem;
	font-size: 1rem;
}
.app-sidebar {
	.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: rgba(0, 0, 0, 0.05);
	}
	.mCSB_scrollTools {
		.mCSB_dragger .mCSB_dragger_bar, .mCSB_draggerRail {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}
.sidenav-toggled .main-wrapper .side-menu .side-menu__item {
	.nav-badge {
		position: absolute;
		top: 5px;
		right: 57px;
		display: block !important;
		padding: 3px 5px !important;
	}
	.nav-badge1 {
		display: none;
	}
}
.nav-badge {
	border-radius: 30px;
	padding: 0.4em 0.6em;
	font-size: 12px;
}
.user-info {
	.text-dark {
		color: #25252a !important;
		font-weight: 400;
		font-size: 16px;
	}
	.text-muted {
		color: #76839a !important;
	}
}
.side-header {
	.header-brand1 {
		text-align: center;
		display: table;
	}
	.header-brand-img.desktop-logo {
		max-height: 2.5rem;
		text-align: center;
		display: none;
		margin-right: 0;
	}
}
.sidebar-mini.sidenav-toggled .app-sidebar .side-header .header-brand-img.desktop-logo {
	display: none;
}
.side-header .header-brand-img {
	&.toggle-logo {
		display: none;
	}
	&.light-logo1 {
		display: block;
	}
}
.sidebar-mini.sidenav-toggled {
	.app-sidebar .side-header {
		.header-brand-img {
			&.light-logo1 {
				display: none;
			}
			&.toggle-logo {
				display: none;
				margin-right: 0;
			}
		}
		.header-brand1 {}
	}
	.user-pic {
		margin-bottom: 0;
	}
	.sidebar-navs {
		display: none;
	}
}
.side-header {
	display: flex;
	border-bottom: 1px solid #eaedf1;
	padding: 21px 10px;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
}
.sidebar-mini.sidenav-toggled {
	.app-sidebar__toggle {
		display: block;
		margin: 0 auto;
	}
	.mobile-header .app-sidebar__toggle {
		margin: 0;
		margin-top: 5px;
	}
}
.user-pic {
	margin-bottom: 0.8rem;
}
.sidebar-navs a {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #eaedf1 !important;
	color: #68798b !important;
	border-radius: 5px;
	padding: 0.8rem !important;
	margin: 7px;
}
.app-sidebar .sidebar-navs {
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid #eaedf1;
}
.sidebar-navs .nav li:last-child a {
	margin-left: 0 !important;
}
.side-menu h3 {
	color: #68798b;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
	font-weight: 400;
	opacity: 0.7;
}
.sidebar-mini.sidenav-toggled .side-menu h3 {
	display: none;
}