/*-- rating--*/

.rating-stars {
	width: 100%;
	text-align: center;
	.rating-stars-container {
		font-size: 0px;
		.rating-star {
			display: inline-block;
			font-size: 32px;
			cursor: pointer;
			padding: 5px 10px;
			color: #e6e7ea;
			&.sm {
				display: inline-block;
				font-size: 14px;
				color: #eaedf1;
				cursor: pointer;
				padding: 5px;
			}
			&.is--active, &.is--hover {
				color: #f1c40f;
			}
			&.is--no-hover, .fa-heart .is--no-hover {
				color: #f1f1f9;
			}
		}
	}
	input {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding: 0.375rem 0.75rem;
		font-size: 0.9375rem;
		line-height: 1.6;
		color: #495057;
		background-color: $white;
		background-clip: padding-box;
		border: 1px solid #eaedf1;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
}
.br-theme-bars-horizontal .br-widget {
	a {
		background-color: #e6e7ea;
		&.br-active, &.br-selected {
			background-color: #5e2dd8;
		}
	}
	.br-current-rating {
		color: #5e2dd8;
	}
}
.br-theme-bars-pill .br-widget a {
	background-color: #e6e7ea;
	&.br-active, &.br-selected {
		background-color: #5e2dd8;
		color: white;
	}
	color: #5e2dd8;
}
.br-theme-bars-square .br-widget a {
	&.br-active, &.br-selected {
		border: 2px solid #5e2dd8;
		color: #5e2dd8;
	}
	border: 2px solid #e6e7ea;
	background-color: $white;
	color: #e6e7ea;
}
.br-theme-bars-movie .br-widget {
	a {
		&.br-active, &.br-selected {
			background-color: #5e2dd8;
		}
		background-color: #e6e7ea;
	}
	.br-current-rating {
		color: #5e2dd8;
	}
}
.br-theme-bars-1to10 .br-widget {
	a {
		background-color: #e6e7ea;
		&.br-active, &.br-selected {
			background-color: #5e2dd8;
		}
	}
	.br-current-rating {
		color: #5e2dd8;
	}
}
.br-theme-fontawesome-stars .br-widget a {
	&.br-active:after, &.br-selected:after {
		color: #f1c40f;
	}
}
.br-theme-fontawesome-stars-o .br-widget a {
	&.br-active:after, &.br-selected:after {
		content: '\f005';
		color: #f1c40f;
	}
	&.br-fractional:after {
		content: '\f123';
		color: #f1c40f;
	}
}
.br-theme-fontawesome-stars .br-widget a:after {
	content: '\f005';
	color: #e6e7ea;
}
.br-theme-fontawesome-stars-o .br-widget a:after {
	content: '\f006';
	color: #e6e7ea;
}
.br-theme-bars-1to10 .br-widget a {
    float: right !important;
}
.br-theme-bars-square .br-widget a {
    float: right !important;
}
.br-theme-bars-movie .br-widget a {
    float: right !important;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.dark-mode .br-theme-fontawesome-stars .br-widget a:after {
    color: #45455f;
}
.dark-mode .br-theme-fontawesome-stars .br-widget a.br-active:after, .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #f1c40f;
}