.header-search {
	min-width: 18rem !important;
}
.aside-footer {
	padding: 1rem 1.5rem;
	border-top: 1px solid #eaedf1;
}
.aside-header {
	padding: 1rem 1.5rem;
	border-bottom: 1px solid #eaedf1;
}
.header {
	background: $white;
	padding-top: .75rem;
	padding-bottom: .75rem;
	border-bottom: 1px solid #eaedf1;
}
body.fixed-header .header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}
@media print {
	.header {
		display: none;
	}
}
.header {
	.dropdown-menu {
		margin-top: 0;
	}
	.mega-menu {
		width: 350px;
	}
	.nav-tabs {
		margin: 0;
	}
}
.header-right-icons {
	a {
		padding-top: 9px;
	}
	.dropdown-menu a {
		padding-top: 0.5rem;
	}
}
.header-brand {
	color: inherit;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 600;
	padding: 0;
	transition: .3s opacity;
	line-height: 2.6rem;
}
.app-header .header-brand {
	color: inherit;
	margin-right: 0;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 600;
	padding: 0;
	transition: .3s opacity;
	line-height: 2.9rem;
	min-width: 200px;
	text-align: center;
	.header-brand-img {
		margin-right: 0;
	}
}
.app-header1 .header-brand {
	color: inherit;
	margin-right: 0;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 600;
	padding: 0;
	transition: .3s opacity;
	line-height: 2.9rem;
	min-width: 215px;
	text-align: center;
	.header-brand-img {
		margin-right: 0;
	}
}
.header-brand:hover {
	color: inherit;
	text-decoration: none;
}
.header-brand-img {
	height: 2.5rem;
	line-height: 2rem;
	vertical-align: middle;
	margin-right: .5rem;
	width: auto;
}
.header-avatar {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 50%;
}
.header-btn {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
}
@media (max-width: 480px) {
	.app-header .header-brand, .app-header1 .header-brand {
		min-width: auto;
	}
	.header-right-icons .dropdown .header-toggler {
		margin-top: 9px;
	}
}
@media (max-width: 992px) {
	.header {
		border-bottom: 1px solid $white-2;
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
}
@media (max-width: 991px) {
	.header .form-inline {
		margin-right: -2px;
	}
}
@media (max-width: 767px) {
	.mobile-header {
		display: block;
		padding: 5px 0;
		position: fixed;
		width: 100%;
		z-index: 999;
		background: $white;
		top:0;
	}
	.header-search-icon {
		display: none !important;
	}
	.side-header {
		display: none;
	}
	.header-brand-img {
		margin-left: 0;
		margin-right: 1.5rem;
	}
	.mobile-header {
		.header-brand-img {
			margin-top: 2px;
		}
		.header-brand {
			line-height: 0;
		}
		.app-sidebar__toggle {
			padding: 5px 15px;
		}
		.nav-link.icon i {
			color: #76839a !important;
		}
		.header-settings {
			margin-top: 6px;
		}
		.profile-user {
			margin-top: 8px;
		}
	}
	.sidebar-mini.sidenav-toggled {
		.side-header {
			display: none;
		}
		.mobile-header .app-sidebar__toggle {
			display: block;
		}
	}
	.app-content .side-app {
		padding: 55px 0.75rem 0px 0.75rem !important;
	}
	.header.hor-header {
		display: none;
	}
	.container.app-content {
		padding-top: 55px;
	}
	.mobile-header {
		&.hor-mobile-header {
			.header-brand-img {
				margin-right: 0;
				margin-top: 2px;
				display: block;
			}
			.header-brand {
				margin-right: 2.5rem;
				z-index: 10;
			}
		}
		.profile-user {
			margin-top: 0px !important;
		}
		.nav-link.icon {
			padding: 12px !important;
			margin: 2px !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			height: 1.9rem !important;
		}
		.header-right-icons {
			.nav-link.icon:hover {
				background: none;
			}
			.profile-user:hover {
				box-shadow: none;
			}
		}
	}
}
@media (max-width: 992px) and (min-width: 768px) {
	.hor-header {
		.header-brand-img {
			&.desktop-logo {
				display: none;
			}
			&.light-logo {
				display: none;
				margin-right: 3rem;
				margin-top: 2px;
			}
		}
		.nav-link.icon i {
			color: #76839a !important;
		}
	}
	.animated-arrow {
		cursor: pointer;
	}
}
@media (max-width: 568px) {
	.mobile-header {
		.profile-1 .nav-link {
			padding-left: 0;
			padding-right: 0 !important;
		}
		.header-brand-img {
			margin-left: 0rem;
			margin-top: 2px;
		}
	}
}
@media (min-width: 768px) {
	.mobile-header {
		display: none;
	}
	.app-content .side-app {
		padding-top: 0px !important;
	}
}
.responsive-navbar.navbar {
	position: relative !important;
	display: -ms-flexbox;
	display: flex;
	top: 65px;
	margin: 0;
	margin-bottom: 0 !important;
	padding: 0;
}
.hor-menu .nav-badge {
	border-radius: 30px;
	position: absolute;
	top: 3px;
	right: 14px;
	padding: 0.2em 0.4em;
	font-size: 12px;
}
@media (max-width: 992px) {
	.hor-menu .nav-badge {
		right: auto !important;
	}
}
.header {
	.form-inline {
		.form-control {
			border-color: rgba(225, 225, 225, 0.1);
			padding-left: 20px;
			width: 220px;
			padding-right: 40px;
			background: rgba(225, 225, 225, 0.3);
			color: $black !important;
		}
		.btn {
			border-radius: 0;
			padding: 5px 15px 6px 15px;
			border: 2px solid transparent;
			box-shadow: none;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			background: transparent;
			color: $white;
			margin-left: -56px;
			font-size: 15px;
		}
	}
	.header-brand-img.mobile-view-logo {
		display: none;
	}
	.bg-image {
		background: linear-gradient(to right bottom, rgba(132, 65, 246, 0.7), rgba(212, 40, 234, 0.7));
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.bg-image-2 {
		background: linear-gradient(to right bottom, rgba(251, 196, 52, 0.7), rgba(246, 107, 78, 0.7));
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.bg-image-3 {
		background: linear-gradient(to right bottom, rgba(98, 251, 92, 0.6), rgba(33, 165, 6, 0.6));
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.bg-image a:hover {
		background: transparent !important;
	}
	.dropdown-menu {
		padding: 0;
		border: 0;
	}
}
@media (max-width: 767.98px) and (min-width: 576px) {
	.header .form-inline .search-element {
		position: absolute;
		top: 8px;
		left: 10px;
		right: 10px;
		z-index: 892;
		display: none;
	}
	body.search-show .header .form-inline .search-element {
		display: block;
	}
	.header .navsearch i {
		font-size: 20px;
		color: $white;
	}
	.search-element .form-control {
		float: left;
		width: 100% !important;
		height: 40px;
		margin: 0 auto;
		background: $white !important;
		color: $black;
	}
	.search-show .search-element {
		display: block;
		left: 0 !important;
		top: 0 !important;
		right: 0;
		width: 100%;
		padding: 10px 13px;
	}
	.header {
		.form-inline .form-control::-webkit-input-placeholder {
			color: #76839a;
		}
		.navsearch i {
			font-size: 20px;
			color: $white;
			padding-top: 5px;
		}
		.form-inline .btn {
			color: #46494a !important;
			padding: 8px 15px 6px 15px;
		}
	}
}
@media (max-width: 1024px) {
	body {
		&.search-show, &.sidebar-show {
			overflow: hidden;
		}
		&.search-show:before, &.sidebar-show:before {
			content: '';
			position: fixed;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $black-4;
			opacity: .6;
			z-index: 891;
		}
	}
}
@media (max-width: 575.98px) {
	body.search-show .header .form-inline .search-element {
		display: block;
	}
	.header .form-inline .search-element .form-control {
		float: left;
		width: 100%;
		height: 40px;
		margin: 0 auto;
		background: $white;
		border-radius: 0;
	}
	.search-show .search-element {
		display: block;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		padding: 10px 13px;
	}
	.form-control.header-search {
		color: $black;
	}
	.header {
		.form-inline {
			.search-element {
				position: absolute;
				z-index: 892;
				display: none;
			}
			.btn {
				color: #46494a !important;
			}
			.form-control::-webkit-input-placeholder {
				color: #76839a !important;
			}
		}
		.navsearch i {
			font-size: 20px;
			color: $white;
			padding-top: 4px;
		}
		.header-brand-img {
			&.desktop-logo {
				display: none;
			}
			&.mobile-view-logo {
				display: block !important;
			}
		}
	}
}
.header-1 {
	.navbar .nav-link.nav-link-lg i {
		font-size: 1.1rem;
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 50%;
		color: $default-color;
		line-height: 32px;
		margin: 0 auto;
		text-align: center;
	}
	.nav-link .badge {
		position: absolute;
		top: 3px;
		right: 6px;
		width: 1rem;
		height: 1rem;
		font-size: 11px;
		text-align: center !important;
		padding: 0.25em 0.4em;
		line-height: 1;
	}
	.badge {
		border-radius: 50%;
	}
	.form-inline .btn {
		border-radius: 0;
		padding: 5px 15px 6px 15px;
		border: 2px solid transparent;
		box-shadow: none;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		background: transparent;
		color: $default-color;
		margin-right: -50px;
		font-size: 15px;
		position: absolute;
		margin-top: 3px;
	}
	.form-control.header-search {
		color: $default-color;
	}
	.form-inline .form-control::-webkit-input-placeholder {
		color: #76839a;
	}
	.animated-arrow span {
		display: none;
	}
}
.animated-arrow span {
	&:before, &:after {
		display: none;
	}
}
@media only screen and (max-width: 991px) {
	.header-1 .animated-arrow span {
		cursor: pointer;
		height: 2px;
		width: 17px;
		background: $default-color;
		position: absolute;
		display: block;
		content: '';
	}
	.animated-arrow span {
		&:before, &:after {
			cursor: pointer;
			height: 2px;
			width: 17px;
			background: $default-color;
			position: absolute;
			display: block;
			content: '';
		}
	}
	.header-1 .animated-arrow span {
		cursor: pointer;
		height: 2px;
		width: 17px;
		background: $default-color;
		position: absolute;
		display: block;
		content: '';
	}
	.animated-arrow span {
		&:before, &:after {
			cursor: pointer;
			height: 2px;
			width: 17px;
			background: $default-color;
			position: absolute;
			display: block;
			content: '';
		}
	}
	.header-1 {
		.hor-toggle.animated-arrow {
			padding: 83px 35px 16px 20px !important;
			margin: 11px 0 0 0px !important;
		}
		.animated-arrow {
			cursor: pointer;
			padding: 83px 29px 15px 30px;
			margin: 11px 0 0 -11px;
		}
		.navbar .nav-link.nav-link-lg i {
			font-size: 1.1rem;
			width: 2.2rem;
			height: 2.2rem;
			border-radius: 50%;
			color: $default-color;
			line-height: 39px;
			margin: 0 auto;
			text-align: center;
			padding: 0px 42px 0px 10px;
		}
		.dropdown-menu {
			box-shadow: 0 6px 12px 0 $black-05;
		}
		.nav-link .badge {
			position: absolute;
			top: 4px;
			width: 1rem;
			height: 1rem;
			font-size: 11px;
			text-align: center !important;
			padding: 0.25em 0.4em;
			line-height: 1;
		}
	}
}
.header-1 {
	.nav-link.icon i {
		color: $default-color !important;
	}
	.dropdown-menu {
		box-shadow: 0 6px 12px 0 $black-05;
	}
}
.header-2 {
	.dropdown-menu {
		box-shadow: 0 6px 12px 0 $black-05;
	}
	.nav-link {
		.badge {
			position: absolute;
			top: 2px;
			right: 8px;
			width: 1rem;
			height: 1rem;
			font-size: 11px;
			text-align: center !important;
			padding: 0.25em 0.4em;
			line-height: 1;
			border-radius: 50%;
		}
		i {
			display: block;
			text-align: center;
			font-size: 20px;
			color: $default-color;
			margin-top: 5px;
		}
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.9rem;
		padding-left: 0.9rem;
	}
	.form-inline {
		.btn {
			border-radius: 0;
			padding: 5px 15px 6px 15px;
			border: 2px solid transparent;
			box-shadow: none;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			background: transparent;
			color: $default-color;
			margin-right: -45px;
			font-size: 15px;
			position: absolute;
			margin-top: 4px;
		}
		.form-control::-webkit-input-placeholder {
			color: #76839a;
		}
	}
	.form-control.header-search {
		background: rgba(225, 225, 225, 0.4);
		border: 1px solid rgba(225, 225, 225, 0.1);
		color: $white;
		padding: 0.375rem 0.75rem;
		margin-top: 4px;
	}
}
@media only screen and (max-width: 991px) {
	.header-1 .animated-arrow span {
		cursor: pointer;
		height: 2px;
		width: 17px;
		background: $default-color;
		color: $default-color;
		position: absolute;
		display: block;
		content: '';
		&:before, &:after {
			cursor: pointer;
			height: 2px;
			width: 17px;
			background: $default-color;
			color: $default-color;
			position: absolute;
			display: block;
			content: '';
		}
	}
}
/*--header-2--*/

@media only screen and (max-width: 991px) {
	.header-2 {
		.animated-arrow {
			cursor: pointer;
			padding: 8px 33px 3px 0px;
			margin: 11px 0 0 -11px;
			span {
				cursor: pointer;
				height: 2px;
				width: 17px;
				background: $default-color;
				color: $default-color;
				position: absolute;
				display: block;
				content: '';
				&:before, &:after {
					cursor: pointer;
					height: 2px;
					width: 17px;
					background: $default-color;
					color: $default-color;
					position: absolute;
					display: block;
					content: '';
				}
			}
		}
		.nav-link .badge {
			position: absolute;
			top: -1px;
			right: 6px;
			width: 1rem;
			height: 1rem;
			font-size: 11px;
			text-align: center !important;
			padding: 0.25em 0.4em;
			line-height: 1;
			border-radius: 50%;
		}
		.navbar-nav .dropdown-menu {
			position: absolute;
			float: right;
		}
		.dropdown-menu.dropdown-menu-right {
			position: absolute;
			transform: translate3d(-98px, 19px, -16px);
			top: 24px;
			left: 0px;
			will-change: transform;
		}
	}
}
@media only screen and (max-width: 460px) {
	.header-2 .navbar-nav .envelope {
		display: none !important;
	}
}
/*--header-3--*/

.header-3 {
	.nav-link {
		.badge {
			position: absolute;
			top: -10px;
			right: 10px;
			width: 1rem;
			height: 1rem;
			font-size: 11px;
			text-align: center !important;
			padding: 0.25em 0.4em;
			line-height: 1;
			border-radius: 50%;
		}
		i {
			display: block;
			text-align: center;
			font-size: 20px;
			position: relative;
			color: $default-color;
		}
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.9rem;
		padding-left: 0.9rem;
	}
	.form-inline {
		.btn {
			border-radius: 0;
			padding: 5px 15px 6px 15px;
			border: 2px solid transparent;
			box-shadow: none;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			background: transparent;
			color: $default-color;
			margin-left: -56px;
			font-size: 15px;
		}
		.form-control::-webkit-input-placeholder {
			color: #76839a;
		}
	}
	.form-control.header-search {
		background: rgba(225, 225, 225, 0.4);
		border: 1px solid rgba(225, 225, 225, 0.1);
		color: $white;
		padding: 0.375rem 0.75rem;
		margin-top: 4px;
	}
}
@media only screen and (max-width: 991px) {
	.header-3 {
		.animated-arrow {
			cursor: pointer;
			padding: 32px 33px 3px 0px;
			margin: 11px 0 0 -11px;
			span {
				cursor: pointer;
				height: 2px;
				width: 17px;
				background: $default-color;
				color: $default-color;
				position: absolute;
				display: block;
				content: '';
				&:before, &:after {
					cursor: pointer;
					height: 2px;
					width: 17px;
					background: $default-color;
					color: $default-color;
					position: absolute;
					display: block;
					content: '';
				}
			}
		}
		.nav-link .badge {
			position: absolute;
			top: -14px;
			right: 6px;
			width: 1rem;
			height: 1rem;
			font-size: 11px;
			text-align: center !important;
			padding: 0.25em 0.4em;
			line-height: 1;
			border-radius: 50%;
		}
		.navbar-nav .dropdown-menu {
			position: absolute;
			float: right;
		}
		.dropdown-menu.dropdown-menu-right {
			position: absolute;
			transform: translate3d(-98px, 19px, -16px);
			top: 24px;
			left: 0px;
			will-change: transform;
		}
	}
}
.horizontal-main3.horizontal-main {
	width: 100%;
	position: relative;
	background: rgba(52, 1, 108, 0.8);
	border-top: 0;
}
@media only screen and (max-width: 460px) {
	.header-3 .navbar-nav .envelope {
		display: none !important;
	}
}
.header-style .header-brand {
	margin-left: 0 !important;
}
.default-header .form-inline .form-control, .header2 .form-inline .form-control, .header3 .form-inline .form-control {
	background: #f1f1f9 !important;
}
@media only screen and (max-width: 991px) {
	.page-header {
		padding: 15px;
	}
	.app-header {
		box-shadow: none !important;
		position: fixed !important;
	}
	.page {
		position: inherit;
		background: none;
	}
	body {
		background-color: #f1f1f9;
	}
	.page-main {
		z-index: inherit;
	}
}
@media only screen and (min-width: 768px) {
	.header .form-inline .form-control {
		width: 200px;
	}
}
.hor-header {
	.header-brand-img {
		margin-right: 0;
	}
	.header-brand1 {
		color: inherit;
		font-size: 1.25rem;
		white-space: nowrap;
		font-weight: 600;
		padding: 0;
		transition: .3s opacity;
		line-height: 2.8rem;
		margin-top: 2px;
	}
}
.header-right-icons {
	.nav-link.icon:hover {
		background: #f1f1f9;
		border-radius: 50px;
	}
	.profile-user:hover {
		box-shadow: 0 0 0 6px #f1f1f9;
	}
}
@media (max-width: 767px) {
	.mobile-header .navbar-toggler-icon {
		color: #76839a !important;
	}
}
@media (max-width: 767px) {
	.mobile-header .header-brand-img.desktop-logo.mobile-light {
		display: block;
	}
}
@media (max-width: 767px) {
	.mobile-header .header-brand-img.desktop-logo {
		display: none;
	}
}
@media (max-width: 992px) and (min-width: 768px) {
	.hor-header .header-brand-img.desktop-logo {
		display: block;
		margin-right: 3rem;
		margin-top: 2px;
	}
}
.pageheader-btn i {
	float: right;
	margin-top: 4px;
	margin-left: 4px;
}
/*Logo-center header */

@media (min-width: 991px) {
	.hor-topheader {
		.header-brand1 .main-logo {
			display: none;
		}
		.header-brand2 {
			margin-right: auto;
		}
	}
}
@media (max-width: 992px) and (min-width: 768px) {
	.hor-topheader .header-brand-img.main-logo {
		display: block;
		margin-right: 3rem;
		margin-top: 2px;
	}
}
.hor-topheader {
	.header-search.dropdown-menu {
		box-shadow: 0 10px 15px rgba(229, 228, 230, 0.5);
		margin-top: 13px !important;
		border: 1px solid #eaedf1 !important;
	}
	.dropdown-menu.show {
		display: block;
		margin: 0;
		border: 1px solid #eaf2f6;
	}
	.dropdown-menu-arrow.dropdown-menu-right {
		&:before, &:after {
			left: auto;
			right: 12px;
		}
	}
	.dropdown.profile-1 .dropdown-menu-arrow.dropdown-menu-right {
		&:before, &:after {
			right: auto;
			left: 12px;
		}
	}
	.dropdown-menu.header-search {
		&.dropdown-menu.show {
			transform: translate3d(-225px, 45px, 0px) !important;
		}
		&:before {
			right: 28px;
		}
	}
}
@media (max-width: 767px) {
	.hor-topheader {
		.dropdown.profile-1 .dropdown-menu-arrow.dropdown-menu-right {
			&:before, &:after {
				left: auto;
				right: 12px;
			}
		}
		.mobile-header .profile-1 .dropdown-menu-arrow {
			transform: translate3d(5px, 45px, 0px) !important;
		}
	}
}
.header-search-icon .dropdown-menu {
	box-shadow: 0 10px 15px rgba(229, 228, 230, 0.5);
	margin-top: 13px !important;
	border: 1px solid #eaedf1 !important;
	transform: translate3d(0px, 45px, 0px) !important;
}
@media (max-width: 568px) {
	.header .input-icon .form-control {
		display: block !important;
	}
	.page-main .header {
		top: 0px !important;
	}
}